

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root{
    --outfit: "Outfit", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
    width: 100%
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

input,
button,
select,
textarea{
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea{
    outline: none;
}

button{
    cursor: pointer;
}


