.nav_wrapper{
    display: flex;
    justify-content: space-between;
    padding:  33px 0;
    text-align: center;
}
.nav_links{
    display: flex;
    gap: 18px;
}
ul{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 14px;
    color: #424242;
}
.nav_logo{
    display: flex;
    gap: 12px;
}
.fiolet{
    color: #5A47AB;
}